@keyframes loadingBar {
  0% {
    width: 0;
    opacity: 0
  }

  100% {
    width: 75%;
    opacity: 1
  }
}
@keyframes storageLeft {
  0%{transform: translateY(2rem); scale: 0; opacity: 0;}
  100%{transform: translate(-50%,-50%); scale: 1; opacity: 1;}
}

@keyframes moveinside {
  0%{transform: translateX(8rem); opacity: 0;}
  100%{transform: translateX(0); opacity: 1;}
}

@keyframes moveoutside {
  0%{transform: translateX(-8rem); opacity: 0;}
  100%{transform: translateX(0); opacity: 1;}
}

@keyframes appear {
  0%{transform: scale(0); opacity: 0;}
  100%{transform: scale(1); opacity: 1;}
}