@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* ✔Custom Properties */

/* Neutral*/

$Pale-Blue: hsl(243, 100%, 96%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-purple: hsl(297, 67%, 25%);
$Very-Dark-purple: hsl(303, 63%, 12%);

/* Gradients*/

$Gradient1:#ffa399 0%, #ff4d97 100%;


/* Typography */
$tipo-principal: 'Raleway', sans-serif;
$tipo-secundaria: Verdana;

/* Responsive */

$mini-mobile:320px;
$mobile:375px;
$big-mobile:480px;
$mini-tablet:768px;
$tablet:960px;
$laptop:1024px;
$desktop:1440px;
